@import url(fonts.css);

html, 
body {
    margin: 0;
    padding: 0;
}

/* 
==================
LAYOUT
================== */

header{

padding-left: 1.25em; /* 20px */
display: flex;
justify-content: space-between;
                     
}

.hero-post{
  
    color:#ffffff;
    padding-top: 5.437em; /*87px*/
    padding-bottom: 1.56em;  /*25px*/
    padding:5.437em 1.25em 1.56em 1.25em ;

    

}

.hero-post::before{
    background-image: url(/images/hero.png);
    background-size: cover; /* or "cover" for a full cover */
    background-position:bottom;    
    transform: scaleX(-1);
}
/* 
================
CONTAINERS
================ */

.logo{
    display: flex;
    gap: 0.5em;
 
   
}
.header-links{
    display: flex;
    gap: 1.75em;
    padding-right: 1.5em;  /* 24px */
    padding-top: 1.31em ; /* 21px */
    padding-bottom: 1.44em; /* 23px */
    
}

/* 
==================
IMAGES
================== */
.logo-img{
    width: 23.16px;
    padding-top: 1.0625em; /* 17px */
    padding-bottom:1.187em ; /*19px*/  
}


/* ===================
TYPOGRAPHY
=================== */

.header-links a{
    color: #090909;
    font-family: "Source Sans 3", sans-serif;
    font-size: 0.75rem; /*12px */
    font-weight: 600;
    line-height: 15.08px;

}

a {
    text-decoration: none;
}

.logo-text {
    color: #0E0E0E;
    font-size: 0.875rem; /* 14px*/
    line-height: 15px;
    padding-top: 1.5em ; /* 24px */
    
}

.hero-post h1{
    font-weight: 700;
    font-size: 2rem; /*32pxpx*/
    line-height: 35px;
   
}

.hero-post h2{
    font-weight: 400;
    font-size: 0.75rem; /*12px*/
    line-height: 15px;
   
}

.hero-post p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 20.11px;
}