@import url(fonts.css);

html, 
body {
    margin: 0;
    padding: 0;
}

/* ===============
HOME PAGE
================== */

/* 
==================
LAYOUT
================== */

header{

padding-left: 1.25em; /* 20px */
display: flex;
justify-content: space-between;
                     
}

.hero-post{
    position: relative;
    color:#ffffff;
    padding-top: 5.437em; /*87px*/
    padding-bottom: 1.56em;  /*25px*/
    padding:5.437em 1.25em 1.56em 1.25em ;
    overflow: hidden;
    
}
.hero-post::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/images/hero.png);
    background-size: cover;
    background-position: bottom;
    transform: scaleX(-1); /* Flip the background horizontally */
    z-index: -1; /* Place the background behind the text */
  }

.articles{
    max-width: 414px;
    padding: 2.125em 1.25em 2.687em 1.25em;
    }

footer{
    background: #202020;
    color: #ececec;
    text-align: center;
    padding-top: 2.3em;
    padding-bottom: 2.3em;
    font-size: 0.75rem;
    
}

/* 
================
CONTAINERS
================ */

.logo{
    display: flex;
    gap: 0.5em;  
}
.header-links{
    display: flex;
    gap: 1.75em;
    padding-right: 1.5em;  /* 24px */
    padding-top: 1.31em ; /* 21px */
    padding-bottom: 1.44em; /* 23px */
    
}

article{
    margin-bottom: 1em;
    text-align: left;
}

/* 
==================
IMAGES
================== */
.logo-img{
    width: 23.16px;
    padding-top: 1.0625em; /* 17px */
    padding-bottom:1.187em ; /*19px*/  
}

.articles img{
    height: 232px;
    width: 100%;
    border-radius: 3px;
}

/* ===================
TYPOGRAPHY
=================== */

.header-links a{
    color: #090909;
    font-family: "Source Sans 3", sans-serif;
    font-size: 0.75rem; /*12px */
    font-weight: 600;
    line-height: 15.08px;

}

.header-links
a{
    text-decoration: none;
  }

.article-center-text{
    display: block;
    text-align: center;
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
 
}

.logo-text {
    color: #0E0E0E;
    font-size: 0.875rem; /* 14px*/
    line-height: 15px;
    padding-top: 1.5em ; /* 24px */
    
}

.hero-post h1{
    font-weight: 700;
    font-size: 2rem; /*32pxpx*/
    line-height: 35px;
   
}

.hero-post h2{
    font-weight: 400;
    font-size: 0.75rem; /*12px*/
    line-height: 15px;
   
}

.hero-post p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 20.11px;
}

.article-date{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 17.82px;

}
.article-title{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 25.97px;
    
}

.article-body-preview{
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}

footer h2{
  margin: 0;
  font-weight: 700;
  line-height: 12px;
}

footer p{
    font-weight: 400;
    line-height: 15px;
    color: #D7D7D7;
}
/* 
=====================
POSTS PAGE
===================== */
/* 
================
LAYOUT
================ */

.article-main{
padding: 2em 1.25em 2em 1.25em;
max-width: 374px;
color: #151515;
}

.details{
    display: block;
}
.article-main img{
    height: 191px;
    width: 100% ;
    border-radius: 3px;
    transform: scaleX(-1); 
    object-fit: cover;
    object-position: bottom;
    padding-top: 2.187em;
    padding-bottom: 2.187em;
  }

  .post-articles{
    padding-top: 0;
    margin-top: 0;
  }

  .post-articles article{
    padding-top: 1.687rem;
  }
  /* 
================
TYPOGRAPHY
================ */
.article-main h2
.about-main h2{
    margin: 0;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 15.08px;
   
}
.article-main h1,
.about-main h1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 34.62px;
    letter-spacing: -0.03em;
}

.article-main p, 
span,
.about-main p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 20.11px;
    text-align: left;
    margin: 0;
    
}

/* 
=====================
ABOUT PAGE
===================== */
/* 
================
LAYOUT
================ */
.about-main{
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.break-para{
    padding-top: 3.125em;
}
.profile{
    width: 182px;
    height: 182px;
    object-fit: cover;
    object-position: left;
    border-radius: 50%;
}

/* ================
TYPOGRAPHY
================  */
.about-main h1{
    font-size: 2.18rem;
    font-weight: 700;
    line-height: 37.69px;
    letter-spacing: -0.03em;
}